html
    head
        script(src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet")
        meta(name='viewport' content='width=device-width,initial-scale=1')
        link(href="/styles/global.scss" rel="stylesheet")
    body
        header.mdc-top-app-bar
            .mdc-top-app-bar__row
                section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                    // button.material-icons.mdc-top-app-bar__navigation-icon.mdc-icon-button menu
                    span.mdc-top-app-bar__title Hi, I am #{name}!
        jrg-viewport(name='Jackie R Gleason', id='viewport')
            .content(slot="jrg-view-item")
                .left-side
                    .top &nbsp;
                    .middle
                        button.mdc-button#left
                            .mdc-button__ripple
                            span.mdc-button__label left
                    .botom &nbsp;
                .middle-column
                    .top
                        button.mdc-button#forward
                            .mdc-button__ripple
                            span.mdc-button__label Forward
                    .middle
                        button.mdc-button#stop
                            .mdc-button__ripple
                            span.mdc-button__label Stop
                    .bottom
                        button.mdc-button#backward
                            .mdc-button__ripple
                            span.mdc-button__label backward
                .right-side
                    .top &nbsp;
                    .middle
                        button.mdc-button#right
                            .mdc-button__ripple
                            span.mdc-button__label right
                    .bottom &nbsp;
            .content(slot="jrg-view-item")
                .left-side
                    jrg-led-controller
                .middle-column
                .right-side
                    jrg-led-controller
        script(type="module" src="https://unpkg.com/@material/mwc-slider@v0.13.0/mwc-slider.js")
        script(type="module" src='/jrg-material/core/dist/index.umd.js')
        script(type="module" src='/jrg-material/material/dist/index.umd.js')
        script(type="module" src="/js/global.mjs")